
:root, body, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* website color palette */

  --nature-khaki: #8d8741;
  --peaceful-blue: #659dbd;
  --dark-blue-grey: #243946; //142733
  --warm-beige: #daad86;
  --pale-beige: #ded7ce;
  --light-brown: #bc986a;
  --creamy-yellow: #fbeec1;

}
